<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://bootswatch.com/sandstone/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid navbar-default" style="margin-bottom:20px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#co-navbar">
          <span class="sr-only"><a href='/'>Tenders</a></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Medical Tenders in Egypt</span>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="co-navbar">
        <ul class="nav navbar-nav">
          <li>
            <a href='/tenders'>All Tenders</a>
          </li>
          <li>
            <a href='/'>Homepage</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% block header %} {% endblock %}
    <div class="page-content">
      <div class="col-md-2 col-xs-12">

      </div>
      <div class="col-md-8 col-xs-12">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-2 col-xs-12">
        <div></div>
      </div>
    </div>

  </body>
</html>
