/*body {
	background-color: #d4d4d4;
}*/

.no-bullets {
	list-style-type: none;
}

.description-offer {
	padding: 10px;
}

.welcome {
  position: absolute;
  padding: 100px;
  top: 20%;
  text-align: center;
}

a.btn-wide {
  min-width: 200px;
}
